.nav {
  background-color: lightblue;
  height: 100vh;
  width: 100%;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0;
}
.nav ul li {
  padding: 10% 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
}

.nav ul li a {
  text-decoration: none;
}

.navDisabled {
  pointer-events: none;
  color: gray;
  text-decoration: none;
}

.cursor_not_allowed {
  cursor: not-allowed;
}
